
		body {
            padding: 0;
            margin: 0;
        }
        html, body {
            height: 100%;
            width: 100%;
        }	
		#map {
			width: 100%;
			position: relative;
			top: 0px;
			left: 0px;
			padding: 0px;
		}
		.container-fluid {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
		.navbar-inverse {
			 background-color: white !important;
		}
		.ol-popup {
			position: absolute;
			background-color: white;
			-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
			filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
			padding: 15px;
			border-radius: 10px;
			border: 1px solid #cccccc;
			bottom: 12px;
			left: -50px;
			min-width: 280px;
			font-family: 'Open Sans';
		}
		.ol-popup:after, .ol-popup:before {
			top: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		.ol-popup:after {
			border-top-color: white;
			border-width: 10px;
			left: 48px;
			margin-left: -10px;
		}
		.ol-popup:before {
			border-top-color: #cccccc;
			border-width: 11px;
			left: 48px;
			margin-left: -11px;
		}
		.ol-popup-closer {
			text-decoration: none;
			position: absolute;
			top: 2px;
			right: 8px;
		}
		.ol-popup-closer:after {
			content: "✖";
		}
		.container {
			height: 100% !important;
			width: 100% !important;
			padding-left: 0px !important;
			padding-right: 0px !important;
			margin-right: 0px !important;
			margin-left: 0px !important;
			position: relative;
			max-width: none !important;
		}
		.row {
			height: 100% !important;
			width: 100% !important;
			margin-right: 0px !important;
			margin-left: 0px !important;
		}
		#closer {
			padding-bottom: 1em;
			text-align: left;
		}
		#closer_button {
			color: #EB0000;
		}
		.scrollable_style {
			overflow-y: auto;
		}
		.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: white;
			color: black;
			padding-right: 15px;
			text-align: right;
			border-top: 1px solid #333;
		}
		#wrapper {
			overflow: hidden;
			max-width: none;
		}

		.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
			background-color: #337ab7 !important;
			color: white !important;
		}
	 
	/* https://github.com/LeaVerou/awesomplete/issues/13387 */
	 /* reinstitute initial .form-control border radius when nested within .awesomeplete */
	.input-group .awesomplete .form-control {
		border-radius: 4px;
	}
	/* reinstitute .border-radius squaring within form groups */
	.input-group .awesomplete:first-child .form-control {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.input-group .awesomplete:not(:first-child) .form-control {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.input-group .awesomplete:not(:first-child):not(:last-child) .form-control {
		border-radius: 0;
	}

	/* css for reset button */
	.reset-map-button {
        top: 65px;
        left: .5em;
     }
     .ol-touch .reset-map-button {
        top: 80px;
     }

.modal_legend {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#legend_container {
	background: #FFFFFF;
	border-radius: 25px;
    border: 1px solid #333;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 20px; 
    position: absolute;
    bottom: 8px;
    left: 8px;
	font-size: 18px;
	z-index: 6; /* Sit on top */
	visibility: hidden;
	text-align: center;
}

#legend_container_from_deims_geoserver {
	background: #FFFFFF;
	border-radius: 25px;
    border: 1px solid #333;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 20px; 
    position: absolute;
    bottom: 8px;
    left: 8px;
	font-size: 18px;
	z-index: 6; /* Sit on top */
	visibility: hidden;
	text-align: center;
}

#legend_locations_container {
    position: absolute;
    top: 8px;
    right: 8px;
	z-index: 6; /* Sit on top */
	visibility: hidden;
}

.no_underline_link {
    text-decoration: none;
}

.no_underline_link:hover {
    text-decoration: underline;
}

.custom_menu_link {
    text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	white-space: nowrap;
	color: rgba(0,0,0,.75);
}

.custom_menu_link:hover {
    text-decoration: underline;
}

.custom_menu_list: {
    color: white;
}

.custom_menu_list:hover {
    background-color: #337AB7;
}

.custom_menu_list:hover > a {
    color: white;
	text-decoration: none;
}

.no_underline_hover:hover {
	text-decoration: none;
	color: rgba(0,0,0,.7);
}

#nav_menu {
    background-color: #ffffff !important;
}

#deims_logo {
    padding: .5rem 1rem;
    padding-left: 0px;
}

.dropdown-menu {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.ol-attribution.ol-uncollapsible {
	height: unset !important;
}


/* location layer selector css */
/* Dropdown Button */
.dropbtn {
  background-color: rgba(0,60,136,.5);
  border-radius: 4px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  border-style: solid;
  border-width: 4px;
  border-color: rgba(255,255,255,.4);
  border-radius: 4px;
  background-clip: padding-box;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  border-radius: 4px;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.55);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: rgba(0,60,136,.7);
	border-color: rgba(255,255,255,.6);
}

#loc_type_hydro, #loc_type_sampling, #loc_type_equipment {
	visibility: hidden;
}

/* autocomplete list must be on top of all other elements */
#awesomplete_list_1 {
	z-index: 10;
}

/* Legend for location layer switcher */

#loc_type_sampling:after {
	color: #336600;
    content: " ―――";
	font-weight: bold;
}

#loc_type_hydro:after {
	color: #3399FF;
    content: " — — —";
	font-weight: bold;
}

#loc_type_equipment:after {
	color: #999999;
    content: " ———";
	font-weight: bold;
}

#loc_type_eshape:after {
	color: #cc0066;
    content: " — — —";
	font-weight: bold;
}

#loc_type_socioecological:after {
	color: #cc3333;
    content: " — — —";
	font-weight: bold;
}

#loc_type_model:after {
	color: #666699;
    content: " — — —";
	font-weight: bold;
}

#loc_type_airshed:after {
	color: #6699cc;
    content: " — — —";
	font-weight: bold;
}

#loc_type_other:after {
	color: #996633;
    content: " — — —";
	font-weight: bold;
}
